

<div class="max-w-full h-screen flex flex-col  sm:flex-row  box-border md:box-content">
    <div class="flex flex-col  bg-[#032F54] w-full sm:w-1/2 sm:flex-col">

        <div class="w-full">
            <div class="flex sm:flex-row flex-col w-full ">
                <p class="text-8xl font-['Italiana'] sm:mt-6 sm:ml-14 sm:text-left text-[#A0CAFA] text-center">mifissio</p>
                <ul class="flex flex-row  sm:mt-1/2  sm:mt-6 w-full justify-center my-4">
                    <li class="text-[1.1rem] font-['Instrument Sans'] ml-[1rem] text-[#DBEFFA] hover:underline"><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">INICIO</a></li>
                    <li class="text-[1.1rem] font-['Instrument Sans'] ml-[1rem] text-[#DBEFFA] hover:underline"><a routerLink="/iniciar">SERVICIOS</a></li>
                    <li class="text-[1.1rem] font-['Instrument Sans'] ml-[1rem] text-[#DBEFFA] hover:underline"><a routerLink="/perfil">CONTACTO</a></li>
                    <li class="text-[1.1rem] font-['Instrument Sans'] ml-[1rem] text-[#DBEFFA] hover:underline"><a routerLink="/admin">UBICACIÓN</a></li>
                </ul>
           </div>
        </div>

        <div class="w-full">
            <p class="text-[1.2rem] mx-16 text-[#FFFFFF] text-center sm:text-left">FISIOTERAPIA Y REHABILITACIÓN</p>
        
            <h1 class="mx-10 sm:mx-20 sm:my-5 text-[2rem] sm:text-5xl text-[#FFFFFF] font-['Roboto'] text-jutify sm:text-left">Ofrecemos un espacio dedicado a tu salud y bienestar</h1>
            <p class="text-[1rem]  mx-10 sm:text-xl sm:mx-20   text-[#FFFFFF]">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tempora quibusdam vel pariatur commodi tenetur voluptates! Magni cumque mollitia voluptate nisi amet expedita voluptas laboriosam rerum! Est sed mollitia omnis.</p>
        </div>

        <div class="sm:w-90 sm:h-40 flex fle-row justify-center sm:my-2 w-100 h-20 m-5">
            <button class=" shadow-2xl sm:text-xl bg-[#ffffff] text-[#032F54] font-bold  rounded-full w-1/2 sm:w-full sm:h-[4rem] h-[2.5rem] " routerLink="/iniciar" routerLinkActive="active" ariaCurrentWhenActive="page">INICAR SESION</button>
        </div>
    </div>
    
    <div class=" flex  w-full sm:w-1/2 imagen bg-no-repeat bg-cover bg-top  sm:bg-cover sm:bg-center flex-col justify-center gap-5 sm:justify-between h-[20rem] sm:h-auto">
        
            <div class="  flex justify-center items-end sm:items-center w-full sm:h-[10rem] sm:justify-end sm:px-20 ">
                <button class="text-center shadow-md text-[1rem] sm:text-[1.2rem] bg-[#000000] text-[#FFFFFF] rounded-full w-1/2 h-[3rem] sm:w-[15rem]" routerLink="agendar"><i class="fa-solid fa-calendar-days"></i> AGENDAR CITA</button>
            </div>
            <div class="  flex justify-center items-end sm:items-center w-full sm:h-[10rem] sm:justify-end sm:px-20" >
                <button class="text-center shadow-md text-[1rem] sm:text-[1.4rem] bg-[#032F54] text-white rounded-full   w-1/2 h-[3rem] sm:w-[15rem] " ><i class="fa-brands fa-square-whatsapp"></i> 449 807  19 57</button>
            </div>
    </div>
   
 </div>




<h1 class="my-20 sm:my-20 sm:mx-10 text-3xl sm:text-5xl text-[#032F54] font-bold font-['Instrument Sans']">NUESTROS SERVICIOS</h1>





<div class="flex sm:flex-row flex-col sm:justify-around justify-center bg-[#FFFFFF] box-border box m-2">

    <div class="flex flex-col m-5 flex-1">
        <!-- Contenedor Superior -->
        <div class="bg-[#A0CAFA] flex-1 w-full sm:rounded-t-[7rem]"> 
            <h2 class="font-['Instrument Sans'] my-4 text-center text-[1.2rem] text-[#FFFFFF] font-bold">TERAPIA PERSONALIZADA</h2>
            <div class="terapia bg-no-repeat bg-bottom w-full h-[25rem]"></div>
        </div>
        <!-- Contenedor Inferior -->
        <div class="bg-[#EBF0F5] p-4">
            <h2 class="text-left text-[1.2rem] text-[#1973DA] font-['Instrument Sans'] font-bold">Descripción de servicios, horarios y contacto.</h2>
            <p class="text-left text-[1rem] font-['Instrument Sans'] text-[#0A59B2]">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui accusamus asperiores cum voluptatum optio repellat quisquam nulla provident.
            </p>
        </div>
    </div>

    <!-- Repite el mismo ajuste para las otras cards -->
    <div class="flex flex-col m-5 flex-1">
        <div class="bg-[#003674] flex-1 w-full sm:rounded-t-[7rem]">
            <h2 class="font-['Instrument Sans'] my-4 text-center text-[1.2rem] text-[#FFFFFF] font-bold">REHABILITACIÓN PERSONALIZADA</h2>
            <div class="rehabiltacion bg-no-repeat bg-bottom w-full h-[25rem]"></div>
        </div>
        <div class="bg-[#EBF0F5] p-4">
            <h2 class="text-left text-[1.2rem] text-[#1973DA] font-['Instrument Sans'] font-bold">Descripción de servicios, horarios y contacto.</h2>
            <p class="text-left text-[1rem] font-['Instrument Sans'] text-[#0A59B2]">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui accusamus asperiores cum voluptatum optio repellat quisquam nulla provident.
            </p>
        </div>
    </div>

    <div class="flex flex-col m-5 flex-1">
        <div class="bg-[#1973DA] flex-1 w-full sm:rounded-t-[7rem]">
            <h2 class="font-['Instrument Sans'] my-4 text-center text-[1.2rem] text-[#FFFFFF] font-bold">MASAJES TERAPÉUTICOS</h2>
            <div class="masajes bg-no-repeat bg-bottom w-full h-[25rem]"></div>
        </div>
        <div class="bg-[#EBF0F5] p-4">
            <h2 class="text-left text-[1.2rem] text-[#1973DA] font-['Instrument Sans'] font-bold">Descripción de servicios, horarios y contacto.</h2>
            <p class="text-left text-[1rem] font-['Instrument Sans'] text-[#0A59B2]">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui accusamus asperiores cum voluptatum optio repellat quisquam nulla provident.
            </p>
        </div>
    </div>

</div>




<div class="flex sm:flex-row  flex-col   max-w-full  bg-[#E3EBF3] box-border sm:my-20 m-2">
        <div class=" flex sm:w-1/2  w-full order-1">
            <div class="bg-[#A0CAFA] borde   w-full sm:m-10">
                <div class="doctora bg-center"></div>
            </div>
        </div>
     
        <div class="sm:w-1/2 w-full order-2 flex flex-col">
            <h1 class="m-[1.5rem] font-bold  text-center text-[2.2rem] text-[#032F54]">UN POCO SOBRE MI</h1>
            <p class="m-[1.5rem] text-justify text-[1rem] text-[#032F54] uppercase"> HOLA SOY ALEJANDRA ROMO MENDEZ EGRESADA DE LA UNIVERSIADA AUTONOMA DE AGUASCALIENTES Y TENGO UNA TRAYECTORIA DE X AÑOS EN EL AREA DE REHABILITACIÓN.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sapiente officiis ut repellendus quo magni hic dolorem obcaecati corrupti, ea minus odio ratione et nesciunt laudantium. Nesciunt odit molestias veritatis. 
             <br>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid tenetur tempora asperiores, exercitationem odit natus iste a necessitatibus esse, at ipsum cupiditate rerum explicabo aperiam! Officiis iusto iure doloremque exercitationem.
            </p>
        </div>
</div>
 
<div class="flex flex-col bg-[#003674] w-full h-screen sm:mt-[10rem] my-20">

    <div class="flex basis 1/3  items-center  bg-[#032F54] sm:w-[50%] sm:h-[13rem] h-[5rem] m-[2rem] rounded-tr-[8rem] opacity-[.8]">
        <h2 class=" text-[#FFFFFF] sm:text-[3rem] sm:mx-[3rem] text-[1.8rem] ">NUESTROS HORARIOS</h2>
    </div>

    <div class="flex basis 1/3  bg-[#DBEFFA]">
        <h1 class="text-[#0A59B2] sm:text-[2rem] text-[1.5rem] mx-[2rem] ">Agenda tu cita con tiempo</h1>
   </div>


    <div class="flex basis 1/3 sm:flex-row flex-col w-full sm:h-[18rem] h-[25rem] bg-[#DBEFFA]">
        
      <div class="flex items-center horario basis 1/3 w-full  bg-no-repeat bg-cover bg-center m-[1rem] rounded-[2rem] "> </div>
         <div class="flex items-center basis 1/3 mx-[1rem] ">
             <p class="text-[1rem] sm:text-[1.2rem] text-[#032F54] text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quia quam architecto rem sit rerum voluptate alias, ab minima vero. Fugiat provident dolor, error dignissimos dolores rem! Alias, voluptatibus quasi.</p>
         </div>

        <div class="flex items-center basis 1/3 w-full">
                <table class="w-full m-[1rem]">
                    <thead>
                    <tr>
                        <th class="text-left text-[1rem] py-2 text-[#032F54] uppercase">Hora</th>
                        <th class="text-left text-[1rem] text-[#032F54] uppercase ">Día</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-2 border-[#003674]">
                        <td class="text-[1rem] py-1 text-[#032F54] "><i class="fa-solid fa-clock"></i>  9:00 AM</td>
                        <td class="text-[1rem] py-1 text-[#032F54] ">lunes y martes </td>
                        <td class="text-[1rem] text-[#0A59B2]"><a href="#">Agendar ></a></td>
                    </tr>
                    <tr class="border-2 border-[#003674]">
                        <td class="text-[1rem] py-1 text-[#032F54] "><i class="fa-solid fa-clock"></i>  8:00 AM</td>
                        <td class="text-[1rem] py-1 text-[#032F54] ">miercoles y jueves</td>
                        <td class="text-[1rem] text-[#0A59B2]"><a href="#">Agendar ></a></td>
                    </tr>
                    <tr class="border-2 border-[#003674]">
                        <td class="text-[1rem] py-1 text-[#032F54] "><i class="fa-solid fa-clock"></i>  11:00 AM</td>
                        <td class="text-[1rem] py-1 text-[#032F54] ">viernes y sábado</td>
                        <td class="text-[1rem] text-[#0A59B2]"><a href="#">Agendar ></a></td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>



<div class="flex flex-col max-w-full sm:p-[2rem] box-border">

    <div class=" w-full">
        <h2 class="sm:text-[2.5rem] text-[1.8rem] text-[#003674] font-bold my-[1rem] text-center sm:text-left">NUESTRA UBICACIÓN</h2>
    </div>
    <div class="w-full sm:h-screen sm:mapa mapa2  bg-center">

    </div>
</div>


<footer class="flex flex-col max-w-full  mt-[10rem]">

    <div class="flex flex-col basis 1/2 w-full bg-[#032F54]">
        <div class="flex flex-row w-full h-[10rem] basis 1/3 justify-evenly sm:justify-center">
            <div class="icon1 sm:w-[10rem] w-[8rem] bg-left bg-no-repeat "></div>
            <div class="icon2 sm:w-[10rem] w-[8rem] bg-left bg-no-repeat"></div>
            <div class="icon3 sm.w-[10rem] w-[8rem] bg-left bg-no-repeat"></div>
        </div>
        <div class="flex flex-row w-[100%] basis 1/3 justify-center">
            <h1 class="text-[11rem] text-[#FFFFFF] w-[30rem] h-[12rem] font-['Italiana'] text-center">mifissio</h1>
        </div>
        <div class="flex flex-row w-[100%] basis 1/3 justify-center mb-[3rem]">
            <h2 class="text-[1.2rem] text-[#FFFFFF] text-center w-[10rem] font-['Instrument Sans']">FISIOTERAPIA Y REHABILITACIÓN</h2>
        </div>
    </div>
    <div class="basis 1/2 w-full bg-[#EBF0F5] flex flex-col items-center">
        <div class=" text-[1.4rem] text-[#032F54] font-['Instrument Sans']">
            <h1>ALEJANDRA ROMO MENDEZ</h1>
            <h2 class="text-[1.2rem]">LTF <br>  CEDULA 10944857</h2>   
            <div class="circulo bg-no-repeat w-full"></div> 
        </div>
        <div class="text-[1.3rem] sm:text-[1rem] text-[#032F54] flex flex-col  sm:flex-row gap-1 w-full sm:justify-evenly mx-10 font-['Instrument Sans']">
            <div>
                <a href="#" ><i class="fa-brands fa-square-whatsapp"></i> 449  807 19 57</a>
               
            </div>
            <div>
                <a href="#"><i class="fa-brands fa-facebook"></i> mifissio</a>
               
            </div>
            <div>
                <a href="#"><i class="fa-solid fa-phone"></i> 449  807 19 57</a>
                
            </div>
            <div>
                <a href="#"><i class="fa-solid fa-location-dot"></i> AVENIDA AMERICAS 902, LOCAL 27, REPUBLICA DE COSTARICA</a>
               
            </div>
            <div>
               
                <p class="text-center">Derechos Reservados  2024 </p>
            </div>
        </div>
    </div>
</footer>   