<div class="flex w-full h-[100%]">
    <div class="w-1/4 bg-white  shadow shadow-[#A0CAFA] rounded flex flex-col items-center gap-3">

        <select id="cars" class="text-[#0A59B2] w-3/4 border-[1px] border-[#C4C4C4] my-4 rounded    focus:outline-none p-1  focus:ring-1 focus:ring-[#003674] focus:border-[#003674]"> 
          <option value="volvo" >Todas las categorías</option>
          <option value="saab">Sección A</option>
          <option value="opel">Sección B</option>
          <option value="audi">Sección C</option>
        </select>

        <button class="bg-[#EBF0F5] w-3/4 h-[6%] text-[#4987CE] flex items-center gap-4 p-5 rounded hover:bg-[#4987CE] hover:text-white hover:border-[1px] hover:border-[#003674]"><i class="fa-solid fa-circle-play"></i> Sección A</button>
        <button class="bg-[#EBF0F5] w-3/4 h-[6%] text-[#4987CE] flex items-center gap-4 p-5 rounded hover:bg-[#4987CE] hover:text-white hover:border-[1px] hover:border-[#003674]"><i class="fa-solid fa-circle-play"></i> Sección B</button>
        <button class="bg-[#EBF0F5] w-3/4 h-[6%] text-[#4987CE] flex items-center gap-4 p-5 rounded hover:bg-[#4987CE] hover:text-white hover:border-[1px] hover:border-[#003674]"><i class="fa-solid fa-circle-play"></i> Sección C</button>

    </div>
    
    
   
</div>
